{
  "rules": {
    "max-len": "off",
    "react/react-in-jsx-scope": "off",
    "import/extensions": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "@storybook.*"
        ]
      }
    ]
  }
}
