{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "import",
      [
        {
          "libraryName": "lodash",
          "libraryDirectory": "/",
          "camel2DashComponentName": false
        }
      ]
    ],
    "transform-export-default",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
